// Byimaan

// Boiler plate

// Variables
$zinc-700: #1a1a1a;
$font-stack: 'Arial', sans-serif;
$body-bg: #f4f4f4;
$text-color: #333;
$max-width: 1200px;
$primaryColor: red;

:export {
   primaryColor: $primaryColor;
   zinc700: $zinc-700;
   textColor: $text-color
}